# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs
run-data

repo

run/*
!run/saves/
run/saves/*
!run/saves/New World-
HarshenUniverse1.12.2
MDK-1.21-ModDevGradle-main