# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

/*
!/src
!build.gradle
!GRADLE_BUILD.bat
!GRADLE_ECLIPSE.bat
!GRADLE_SETUP.bat
!GRADLE_SETUP_REFRESH.bat
!eclipse
!gradle
!.gitignore
!gradlew
!gradlew.bat
!HarshenUniverse_Client.launch
!HarshenUniverse_Server.launch